@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inria+Sans:wght@400;700&display=swap');

@import 'tailwindcss';

@plugin "@tailwindcss/typography";

@layer base {
  * {
    scrollbar-color: color-mix(in oklab, var(--color-slate-950) 20%, transparent) transparent;
  }
}

/* Shadcn theme variables */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@theme {
  --font-geist: 'Geist', sans-serif;
  --font-logo: 'Inria Sans', sans-serif;

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

@utility prose-slate {
  --tw-prose-body: var(--color-slate-950);
  --tw-prose-headings: var(--color-slate-950);
  --tw-prose-links: var(--color-slate-950);
  --tw-prose-bold: var(--color-slate-950);
  --tw-prose-counters: var(--color-slate-950);
  --tw-prose-bullets: var(--color-slate-950);
  --tw-prose-hr: var(--color-slate-300);
  --tw-prose-quotes: var(--color-slate-950);
  --tw-prose-quote-borders: var(--color-slate-300);
  --tw-prose-code: var(--color-slate-950);
  --tw-prose-pre-code: var(--color-slate-200);
  --tw-prose-pre-bg: var(--color-slate-800);
  --tw-prose-th-borders: var(--color-slate-300);
  --tw-prose-td-borders: var(--color-slate-200);
}

@utility prose-white {
  --tw-prose-body: var(--color-white-950);
  --tw-prose-headings: var(--color-white-950);
  --tw-prose-links: var(--color-white-950);
  --tw-prose-bold: var(--color-white-950);
  --tw-prose-counters: var(--color-white-950);
  --tw-prose-bullets: var(--color-white-950);
  --tw-prose-hr: var(--color-white-300);
  --tw-prose-quotes: var(--color-white-950);
  --tw-prose-quote-borders: var(--color-white-300);
  --tw-prose-code: var(--color-white-950);
  --tw-prose-pre-code: var(--color-white-200);
  --tw-prose-pre-bg: var(--color-white-800);
  --tw-prose-th-borders: var(--color-white-300);
  --tw-prose-td-borders: var(--color-white-200);
}
